
bin/
lib/
build/
data/ 
documentation/
src/CMakeFiles/
src/HadronGas/CMakeFiles/
src/Base/CMakeFiles/
src/Epos/CMakeFiles/
src/WacPythia/CMakeFiles/
src/Ampt/CMakeFiles/
src/Urqmd/CMakeFiles/
src/Music/CMakeFiles/
src/Blastwave/CMakeFiles/
src/Cluster/CMakeFiles/
src/EOS/CMakeFiles/
src/LambdaAnalysis/CMakeFiles/
src/StarStudies/CMakeFiles/
*.d
*/*.d
